*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}


/* Navigation bar */


header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
    top:0;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

#navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
    position: relative;
    left: 127px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
    color: #fff;
}

.navbar-nav{
    position: relative;
    right: 38%;
    margin-left: 163px;
}



/* For Home At first Link In List */

.home-icon, .fi-rr-home {
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
  }
/* Slider */


.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 60%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color:#000;
    letter-spacing: 30px;
}

.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active {
    background-color: #65DAF9;
}

/*comment*/

.row {
    padding-bottom: 82px;
}
.img-fluid {
    border:1px solid rgb(71, 71, 71);
    position: relative;
    top: 0px;
}


.img-fluid:hover{
    position: relative;
    top: 15px;
}

.btn-dark {
    font-weight: bold;
    transition: .5s;
}

.btn-dark:hover {
    background-color: transparent;
    color: #000;
}

/*Comment*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: 0.5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #65DAf9;
}

.service-box > a {
    text-decoration: none;
}

.service-box > .ll {
    position: relative;
    right: 80px;
    top: -5px
}
/* These "aa" "hh" and "mm"  to solve height and width in some photos */
.aa {
    height: 100%;
}

.hh {
    height: 63%;
}

.mm {
    height: 80%;
}


/* These for heading for all prodacts */


.title > h1 {
    position: relative;
    bottom: 15px;
    left: 20%;
    border-bottom: 3px solid black;
    font-style: italic;
    font-family: sans-serif;
    width: 60%;
    letter-spacing: 15px;
}

.title > h1:hover {
    background-color: #4444445e;
}

.main-title {
    color: #444;
    position: absolute;
    bottom: 30px;
    left: 35%;
    border-bottom: 1px solid black;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}

.main-title > h3 {
    border-bottom: 2px solid black;
}

/* Footer */

#contact-area {
    text-align: center;
}

.Contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3EC1D5;
}

.Contact-box  i {
    color: #444;
    border: 1px solid #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 13px;
}

.Contact-box p {
    font-size: 16px;
}

.Contact-title {
    font-weight: bold;
    color: #3EC1D5;
}

#msg-box p{
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
}

#Contact-form .main-btn:hover {
    color: #3EC1D5;
}

/* Copy */

#copy-area {
    background-color: #F1F1F1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
}

/* Responsive */
@media(max-width: 768px){
    /* in general */
    .container {
      padding: 20px 0;
    }
      /* Slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
          height: auto;
    }
      
  #mainSlider .carousel-caption h2 {
      font-size: 28px;
    }
  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 10px;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><line stroke='rgba(0, 0, 0, 0.5)' x1='0' y1='0' x2='30' y2='0'/><line stroke='rgba(0, 0, 0, 0.5)' x1='0' y1='15' x2='30' y2='15'/><line stroke='rgba(0, 0, 0, 0.5)' x1='0' y1='30' x2='30' y2='30'/></svg>");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  @media(max-width:425px) {
    /* Slider */
    #mainSlider {
        margin-top: 90px;
    }

    #mainSlider .carousel-caption {
        top: 45%;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .carousel-caption .main-btn {
        font-size: 14px;
    }

    /* about */
    .main-title {
        font-size: 30px;
    }

    /* contact */
    .Contact-box {
        border: none;
        margin-bottom: 0;
    }
  }

  /* For star ratings */
  .star-rating {
    font-size: 0;
  }
  
  .star-rating > span {
    display: inline-block;
    font-size: 16px;
    color: #ccc;
    transition: color 0.2s;
  }
  
  .star-rating > span.selected {
    color: #ffcc00;
  }
  .star-rating .star.active {
    color: yellow;
  }

  /* For Shopping Cart */

  .te_cart_icon_head{
    position: fixed;
    right: 30px;
    margin-top: -10px;
  }

  @media (max-width: 767.98px) {
    .te_header_style_1_main > .col-lg-4 {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .te_header_style_1_main {
        margin: 5;
        text-align: right;
        padding: 20px 0 8px 0 !important;
    }
}

@media (max-width: 767.98px) {
    .te_header_style_1_main div.te_cart_icon_head, .te_header_style_1_main div.te_wish_icon_head {
        padding: 0px 10px;
    }
}

.te_header_1_right .te_wish_icon_head a, .te_header_1_right .te_cart_icon_head a {
    padding: 0;
    position: relative;
    display: inline-block !important;
    font-size: 20px;
    color: #FFFFFF;
}


@media (max-width: 767.98px) {
    .te_header_1_right .te_wish_icon_head a sup, .te_header_1_right .te_cart_icon_head a sup {
        top: -10px;
        right: -14px;
        padding: 0.3em 0.5em;
    }
}

.te_header_1_right .te_wish_icon_head a sup, .te_header_1_right .te_cart_icon_head a sup {
    border-radius: 40px;
    vertical-align: top;
    font-size: 74%;
    position: absolute;
    top: -16px;
    right: -10px;
    display: inline-block !important;
}

/* For count number */


.badge-primary {
    color: #000000;
    background-color: #bbbbbbd4;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/**/

/* For Heart Heading */
.te_header_2_right {
    position: fixed;
    right: 30px;
    margin-top: -10px;
    display: flex;
    align-items: center;
  }
  
  .te_header_2_right .te_heart_icon_head {
    display: flex;
    align-items: center;
  }
  
  .te_header_2_right .te_heart_icon_head a,
  .te_header_2_right .te_heart_icon_head .fa-heart {
    font-size: 22px;
    position: fixed;
    display: block;
    margin-left: 201px; 
    margin-top: 9px; 
    right: 83px;
    top: 1rem;
  }
  
  .te_header_2_right .te_heart_icon_head a:hover {
    color: red;
  }
  
  .red {
    color: red;
  }

/* Make the blue color visible */
header a {
    color: white;
}
  
  @media (max-width: 767.98px) {
    .te_header_2_right .te_heart_icon_head a,
    .te_header_2_right .te_heart_icon_head .fa-heart {
      font-size: 1.5rem;
      margin-left: 5px; /* adjust this value to change the position of the heart icon */
    }
  }
  
  @media (max-width: 575.98px) {
    .te_header_2_right .te_heart_icon_head a,
    .te_header_2_right .te_heart_icon_head .fa-heart {
      font-size: 1.2rem;
      margin-left: 5px; /* adjust this value to change the position of the heart icon */
    }
  }


/* For heart to change to red*/
  .heart i {
    transform: translate(-50%, -50%);
    font-size: 2em;
    transition: color 0.3s ease;
  }
  
  .heart.red i {
    color: red;
  }


/* For heart for all images in page*/

.heart > .fas {
    color: #9d9d9d;
    position: absolute;
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
    margin-top: 12px;
    margin-left: -88px;
}

.heart > .fas{
    top: 10px;
    left: 210px;
}

@media (max-width: 500.98px) {
    .heart > .fas {
      font-size: 2rem;
    }
  
    .heart > .fas {
        left: 50%;
        transform: translateX(-50%);
    }
  }

  @media (max-width: 575.98px) {
    .heart > .fas {
      font-size: 1.5rem;
    }
  
    .heart > .fas {
        left: 50%;
      transform: translateX(-50%);
    }
  }